pagehelper:
  page-size-zero: true
  support-methods-arguments: true
  reasonable: true

mybatis:
  mapper-locations: classpath:mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true
  type-aliases-package: com.example.video.pojo,;com.example.video.vo,;com.example.video.websocket.pojo.SocketMessage

spring:
  profiles:
    active: dev
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB