<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>Title</title>
</head>
<link rel="stylesheet" href="../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}">
<style>
    .layui-table-cell {
        font-size:14px;
        padding:0 5px;
        height:auto;
        overflow:visible;
        text-overflow:inherit;
        white-space:normal;
        word-break: break-all;
    }
</style>
<body>
<ul th:replace="_fragments :: menu(1)" class="layui-nav layui-bg-molv" lay-filter="">
    <li class="layui-nav-item  layui-this"><a href="/home">资源列表</a></li>
    <li class="layui-nav-item"><a href="/admin/manage">管理资源</a></li>
    <li class="layui-nav-item"><a href="/admin/add">添加视频</a></li>
    <li class="layui-nav-item" style="float: right">
        <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img">我</a>
        <dl class="layui-nav-child">
            <dd><a href="javascript:">修改信息</a></dd>
            <dd><a href="javascript:">退出</a></dd>
        </dl>
    </li>
</ul>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
    <legend>管理视频</legend>
</fieldset>

<table class="layui-table layui-table-cell">
    <thead>
    <tr>
        <th>视频名称</th>
        <th>视频分类</th>
        <th>视频操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="info : ${infos}">
        <td th:text="${info.videoName}" width="100">贤心</td>
        <td th:text="${info.videoType.typeName}" width="100">人生就像是一场修行</td>
        <td width="240">
            <div class="layui-btn-container">
                <a th:href="@{/video/{id}/{UUID}(id=${info.id},UUID=${UUID})}"><button type="button" class="layui-btn layui-btn-radius layui-btn-normal">查看</button></a>
            </div>
        </td>
    </tr>

    </tbody>
</table>

</body>
<script src="../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script>
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function(){
        var element = layui.element;

        //…
    });
</script>
</html>