<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.video.dao.VideoTypeDao">

    <select id="listType" resultType="VideoType">
        select * from video_type;
    </select>


    <resultMap id="TypeAndVideoMap" type="videoTypeAndCount">
        <id property="id" column="id"></id>
        <result property="typeName" column="type_name"></result>
        <result property="typeDescription" column="type_description"></result>
        <!--    配置user对象中account集合的映射，ofType指定类的-->
        <collection property="listVideoInfo" ofType="VideoInfo">
            <id property="id" column="aid"></id>
        </collection>
    </resultMap>
    <!--实现一对多查询-->
    <select id="listTypeAndCount" resultMap="TypeAndVideoMap">
        select video_type.*,video_info.id as aid from video_type left join video_info on  video_type.id=video_info.video_type_id;
    </select>

</mapper>